body{
  background: #1e3c72;
  font-family: Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
  color:white;
}

.card{
  background: rgba(255,255,255,0.1);
  padding:30px;
  border-radius:15px;
  text-align:center;
  width:300px;
}

input,select,button{
  width:100%;
  padding:10px;
  margin-top:10px;
  border:none;
  border-radius:8px;
}

button{
  background:#00c9ff;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

li{
  list-style:none;
  margin-top:8px;
}
